.nounderline {
  text-decoration: none;
}

.ship {
  width: 100%;
}

.page {
  display: flex !important;
  justify-content: center;
  align-items: stretch;
}

.main {
  background-color: var(--container-color);
  width: 700px;
  max-width: 95vw;
  border-radius: var(--ifm-global-radius);
}

.stats {
  font-size: 0.90rem;
}

.preview {
  width: 325px;
  max-width: 95vw;
  padding: 10px;
  margin: auto;
}