/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.page {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: var(--container-color);
  width: 700px;
  max-width: 95vw;
  padding: 16px;
  border-radius: 5px;
}

/* Text Stylings */
ul.list,
ul.list2 {
  list-style-type: none;
}

ul.list li::before {
  content: "☆";
  padding-right: 0.3rem;
}

ul.list2 li::before {
  content: "⤷";
  padding-right: 0.3rem;
  margin-left: -1.3rem;
}

ul.list2 li {
  font-size: 0.97rem;
}

.explain {
  padding-left: 20px;
  font-size: 0.95rem;
  margin-bottom: 0;
}

a.likes,
h2.likes,
.likes p strong {
  color: var(--ifm-color-success);
}

a.dnw,
h2.dnw,
.dnw p strong {
  color: var(--ifm-color-danger);
}

.dnw p strong {
  color: var(--ifm-color-danger);
}

h3.dnw {
  color: var(--ifm-color-danger);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-color-danger);
}

h4.dnw {
  color: var(--ifm-color-danger);
  padding-bottom: 0.5rem;
  text-align: center;
}

a.cdnw,
h2.cdnw,
.cdnw p strong {
  color: var(--ifm-color-warning);
}

h3.cdnw {
  color: var(--ifm-color-warning);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--ifm-color-warning);
}

.badges {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .badges img {
	padding: 5px;
	display: block;
  }

@media screen and (max-width: 995px) {
  .page {
    align-items: center;
  }

  .main {
    margin-top: 10px;
    margin-left: 0px;
  }
}

/* .gdrive {
  width:100%;
  height:600px;
  border:0;
} */
