.sidebar {
  background-color: var(--container-color);
  width: 250px;
  padding: 16px;
  text-align: right;
}

.link, .titles {
  display: block;
  width: 100%;
}

.titles {
  font-family: 'Victor Mono', monospace;
  font-size: 1.3rem;
  text-align: left;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  padding-bottom: 0.4rem;
}

.titles:not(:first-child) {
  margin-top: 1rem;
}

@media screen and (max-width: 995px) {
  .sidebar {
    width: 700px;
    max-width: 95vw;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
  }

}
