.sidebar {
  background-color: var(--container-color);
  width: 200px;
  border-radius: var(--ifm-global-radius);
  padding: 16px;
  text-align: right;
}

.link, .titles {
  display: block;
  width: 100%;
}

.titles {
  font-family: 'Monofur', cursive;
  font-size: 1.3rem;
  text-align: left;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
}

.titles:not(:first-child) {
  margin-top: 1rem;
}

@media screen and (max-width: 995px) {
  .sidebar {
    width: 600px;
    max-width: 95vw;
    max-height: 200px;
    overflow-y: scroll;
    text-align: left;
  }

}
